# Data
data/raw/
*.csv
*.zip

# Models
models/saved_models/*.h5
models/saved_models/*.keras
models/checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Jupyter
.ipynb_checkpoints

# Flask
app/static/uploads/*
instance/

# IDE
.vscode/
.idea/

# Environment
.env
.env.local

# Node
node_modules/
.vite/
dist/
build/